<%= form_tag admin_sessions_path, class: 'form-signin' do %>
	<h2 class="form-signin-heading">vLog</h2>
	<% if flash[:noice] %>
		<div class="alert alert-success">
			<%= flash[:notice] %>
		</div>
	<% end %>

	<% if flash[:alert] %>
		<div class="alert alert-danger">
			<%= flash[:alert] %>
		</div>
	<% end %>

	<%= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Email address' %>
	<%= password_field_tag :password, '', class: 'form-control', placeholder: 'Password' %>
	<%= submit_tag 'Log In', class: 'btn btn-lg btn-primary btn-block' %>
<% end %>